{% extends 'general/base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>{{ event.name }}</title>-->
<!--</head>-->
<!--<body>-->
{% block content %}
    <h1>{{ event.name }}</h1>
    <ul>
        <li>
            Datetime: {{ event.datetime }}
        </li>
        <li>
            Theatre: <a href="/theatre/{{ event.theatre.pk }}">{{ event.theatre.name }}</a>
        </li>
        <li>
            Movie: <a href="/movie/{{ event.movie.pk }}">{{ event.movie.name }}</a>
        </li>
    </ul>
    <h3>People Attending</h3>
    <ul>
        {% for user in event.users.all %}
            <li>
                {{ user.name }}
            </li>
        {% endfor %}
    </ul>
    <h3>Delete Event</h3>
    <form action="/event/do_delete" method="post">
        {% csrf_token %}
        <input id="location" type="number" name="event_pk" value="window.location" hidden="hidden"/>
        <button role="button" type="submit">Delete</button>
    </form>
    <script>
    //http://localhost:8000/event/1
        var l = window.location.pathname; //'/event/1'
        l = l.substring(7)
        console.log(l);
        document.getElementById('location').value = Number(l);
    </script>
{% endblock %}
<!--</body>-->
<!--</html>-->