{% extends 'general/base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Events</title>-->
<!--</head>-->
<!--<body>-->
{% block content %}
    <h1>Events</h1>
    <ul>
        {% if events|length != 0 %}
            {% for event in events %}
                <li>
                    <a href="/event/{{ event.pk }}">{{ event.name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>
                No events to display.
            </li>
        {% endif %}
    </ul>
<a href="/event/create">Create an event</a>
{% endblock %}
<!--</body>-->
<!--</html>-->